<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="scribe" type="Scribe.Configuration.ScribeSection, Scribe" />
  </configSections>

  <scribe>
    <writers>
      <add type="Scribe.Configuration.Test.MockLogWriter, Scribe.Configuration.Test"/>
    </writers>
    <listeners>
      <add type="Scribe.TraceListener, Scribe"/>
    </listeners>
  </scribe>

</configuration>